.imgExemplary {
  @apply ml-10;
  width: 700px;
  height: 500px;
}
.group_btn {
  border-radius: 4px;
  padding: 7px 11px;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.group_btn:hover {
  background: #2a2a2a;
  color: #ffffff;
}
